
<div class="row">
  <div class="col-12 col-sm-6">
    <form [formGroup]="createNewScorecardForm" id="projectOverviewForm">

      <ndiku-ng-input
        required
        notEmpty
        parentForm="createNewScorecardForm"
        type="text"
        id="projectTitle"
        label="Title"
        placeholder=""
        (onInputValueChanged)="getInputValue($event)"
        (isComponentValid)="checkInputValidity($event)"
        onComponentReady="addChild('projectTitleGroup', $event)"
      ></ndiku-ng-input>

      <app-user-search class="pb-3"></app-user-search>


      <button
        type="button"
        mat-flat-button
        matStepperNext
        color="accent"
        [disabled]="!enableNextButton">
        Next
      </button>
    </form>
  </div>
</div>


