
<div class="row">
  <div class="col-12 col-sm-6">
    <form [formGroup]="createNewScorecardForm" id="projectOverviewForm">

      <mat-label>Project's Title:</mat-label>
      <ndiku-ng-input
        required
        notEmpty
        parentForm="createNewScorecardForm"
        type="text"
        id="projectTitle"
        label="Title"
        placeholder=""
        (onInputValueChanged)="getInputValue($event)"
        (onComponentReady)="addChild('projectTitleGroup', $event)"
      ></ndiku-ng-input>

      <mat-label>Project's Goal:</mat-label>
      <mat-form-field class="w-100">
        <textarea
        matInput
        placeholder="Enter project's goal description"
        class="border">
      </textarea>
      </mat-form-field>


      <mat-label>Primes*:</mat-label>
      <app-user-search></app-user-search>
      <div class="mb-3">
        <small class="form-text text-muted w-100">* Please identify primes for this project.</small>
      </div>


      <button
        type="button"
        mat-flat-button
        matStepperNext
        color="accent"
        (click)="addPrimeUsers()"
        [disabled]="createNewScorecardForm.invalid">
        Next
      </button>
    </form>
  </div>
</div>


