<div class="row">
  <div class="col-12">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">Comments:</h3>
      </div>
      <div class="panel-body">
        <app-comment-input (sendMessage)="sendComment($event)"></app-comment-input>
        <div class="clearfix w-100 mt-2"></div>
        <ul class="list-group list-group-dividered list-group-full pl-0">
          <li class="list-group-item">
            <app-comment-item
              [commentObject]="commentObject"
              [currUser]="currUser"
              *ngFor="let commentObject of commentObjects">
            </app-comment-item>
          </li>
        </ul>
        <span class="text-info" *ngIf="showMoreComments">No comments has been made yet.</span>
      </div>
    </div>
  </div>
</div>
