
<mat-card class="example-card">
        <div class="row mx-0">
            <div class="col-9 text-left col-sm-8 col-md-8 ">
                <h2>{{ scorecard.title }}</h2>
            </div>
            <div class="col-3 text-right p-0 col-sm-2 col-md-4">
                <button mat-flat-button [matMenuTriggerFor]="menu" class="p-0" aria-label="Icon-button with a menu">
                    <span class="">Settings</span>
                    <mat-icon>arrow_drop_down</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                        Edit
                    </button>
                    <button mat-menu-item>
                        Change status
                    </button>
                    <button mat-menu-item>
                        Archive card
                    </button>
                    <mat-divider class="mt-2 pt-2"></mat-divider>
                    <button mat-menu-item>
                        Publish card
                    </button>
                    <button mat-menu-item class="text-danger">
                        Delete card
                    </button>
                </mat-menu>
            </div>
        </div>
        <mat-divider></mat-divider>
    <div class="row mx-0">
        <div class="col-12 col-md-8 border-right  pt-2">
            <h3 class="mb-0">IN PROGRESS</h3>
            <mat-list>
                <mat-list-item class="h-auto p-0"> last updated: April 2nd, 2020 by Jeff </mat-list-item>
                <mat-list-item class="h-auto p-0"> Prime: {{ scorecard.prime }} </mat-list-item>
                <mat-list-item class="h-auto p-0"> Owner: {{ scorecard.owner }} </mat-list-item>
            </mat-list>
        </div>
        <div class="col-12 col-md-4 pt-2">
            <h3 class="mb-0">what's New:</h3>
            <mat-list>
                <mat-list-item class="h-auto"> - Jeff commented...</mat-list-item>
                <mat-list-item class="h-auto"> - Lisa updated... </mat-list-item>
                <mat-list-item class="h-auto"> <mat-icon>more_horiz</mat-icon> </mat-list-item>
            </mat-list>
        </div>
    </div>
    <mat-divider></mat-divider>

    <div class="row mx-0">
        <div class="col-8 text-left mt-3">
            <a href="">Comments(24)</a>
        </div>
        <div class="col-4 text-right mt-3">
            <span><a href="">2 Charts</a></span>
            <!-- <mat-icon>stacked_bar_chart</mat-icon> -->
        </div>
    </div>

  </mat-card>