<div class="container h-100">
  <div class="row board-row">
    <div class="col-12 board-col">

      <div class="row board-header-row">
        <div class="col-12 board-header-col">
          <h2> {{ testBoard.name }} </h2>
        </div>
      </div>

      <div class="row board-content-row">
        <div class="col-12 board-content-col">
          <div class="row tasks-wrapper" cdkDropListGroup>

            <div class="col-12 m-0 col-md-3 ml-1 backlog-tasks" *ngFor="let column of testBoard.columns">
              <div class="row tasks-header">
                {{ column.name }}
              </div>
              <div class="row tasks-container">
                <div class="col-12 tasks-list"
                  cdkDropList
                  #todoList="cdkDropList"
                  [cdkDropListData]="column.tasks"
                  (cdkDropListDropped)="drop($event)"
                >
                  <div class="row task"  *ngFor="let item of column.tasks" cdkDrag (dblclick)="onViewTaskDetails(column, item)">
                    <div class="col-12">
                      <div class="row justify-content-between">
                        {{ item.description }}
                        <button mat-icon-button  (click)="onDeleteTask(column, item)">
                          <mat-icon color="warn">delete</mat-icon>
                        </button>
                      </div>
                      <div class="row justify-content-between user-assigned-row">
                        <p class="assigned-text-label">created: 2h ago</p>
                        <mat-icon class="assigned-user-avatar">account_circle</mat-icon>
                      </div>
                    </div>
                    <div>

                    </div>
                  </div>
                  <div class="row add-task-button">
                    <button mat-flat-button class="w-100 text-center" (click)="onAddNewTasks(column)" >+ New Task</button>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>


    </div>
  </div>
</div>
