<div class="container h-100 mb-3">
  <div class="row board-row">
    <div class="col-12 board-col">

      <div class="row board-header-row" *ngIf="!hideBoardTitle">
        <div class="col-12 board-header-col">
          <h2> {{ viewingBoard.name }} </h2>
        </div>
      </div>

      <div class="row board-content-row" [class]="hideBoardTitle? 'mt-3' : '' ">
        <div class="col-12 board-content-col">
          <div class="row tasks-wrapper" cdkDropListGroup>

            <div class="col-12 mb-3 m-md-0 col-md-3 ml-md-2 board-list-col" *ngFor="let column of viewingBoard.columns">
              <div class="row tasks-header">
                <h2 class="w-100 ml-3 mr-3 mb-0">
                  {{ column.name }}
                    <button mat-icon-button [matMenuTriggerFor]="colListMenu" class="float-right">
                      <mat-icon>more_horiz</mat-icon>
                    </button>
                    <mat-menu #colListMenu="matMenu">
                      <button mat-menu-item [matMenuTriggerFor]="otherColsMenu">
                        <!-- TODO: implement moving all cards to another list  -->
                          Move All Cards
                      </button>
                      <button mat-menu-item>
                        <!-- TODO: implement notification  -->
                        Get Notified of Changes
                      </button>
                      <mat-divider class="mt-2 pt-2"></mat-divider>
                      <button mat-menu-item class="text-danger" (click)="onDeleteColumn(column)" >
                        <!-- TODO: add an object to hold archived lists of a board and implement logic here  -->
                          Archive {{ '(' + column.name + ')' }}
                      </button>
                    </mat-menu>
                    <mat-menu #otherColsMenu="matMenu">
                      <mat-selection-list #taskLocationSelection [multiple]="false">
                        <mat-list-option *ngFor="let columnOption of notCurrentColumnList(column)">
                          {{ columnOption.name }}
                        </mat-list-option>
                      </mat-selection-list>
                    </mat-menu>
                </h2>
              </div>
              <div class="row tasks-container">
                <div class="col-12 tasks-list"
                  cdkDropList
                  #todoList="cdkDropList"
                  [cdkDropListData]="column.tasks"
                  (cdkDropListDropped)="drop($event)"
                >
                  <div class="row task"  *ngFor="let item of column.tasks" cdkDrag (dblclick)="onViewTaskDetails(column, item)">
                    <div class="col-12">
                      <div class="row justify-content-between mw-100 mb-3">
                        <div class="task-card-title">
                          {{ item.description }}
                        </div>

                        <div class="task-onDeleteTaskButton">
                          <button mat-icon-button [matMenuTriggerFor]="taskCardMenu" >
                            <mat-icon>more_horiz</mat-icon>
                          </button>
                          <mat-menu #taskCardMenu="matMenu">
                            <button mat-menu-item [matMenuTriggerFor]="otherColsMenu">
                              <!-- TODO: implement moving a card to another list  -->
                                Move This Card to
                            </button>
                            <mat-divider class="mt-2 pt-2"></mat-divider>
                            <button mat-menu-item class="text-danger" (click)="onDeleteTask(column, item)" >
                              <!-- TODO: add an object to hold archived task of a column in board and implement logic here  -->
                                Archive This Card
                            </button>
                          </mat-menu>
                        </div>

                      </div>
                      <div class="row justify-content-between user-assigned-row">

                        <p class="assigned-text-label text-muted">created: {{ item.createdTime | dateAgo }}</p>
                        <mat-icon class="assigned-user-avatar">account_circle</mat-icon>
                      </div>
                    </div>
                    <div>

                    </div>
                  </div>
                  <div class="row add-task-button">
                    <button mat-flat-button class="w-100 text-center" (click)="onAddNewTasks(column)" >+ New Task</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 m-0 col-md-3 ml-1 add-new-list-row">
              <div class="row add-task-button">
                <button mat-flat-button color="accent" class="w-100 text-center add-list-button" (click)="onAddNewColumn()" >+ New List</button>
              </div>
            </div>

          </div>
        </div>
      </div>


    </div>
  </div>
</div>
