

<div class="container pt-3 pb-5">
    <div class="row ">
        <div class="col-12">
            <button
            mat-flat-button
            color="accent"
            class="float-right"
            >
                Edit
            </button>
        </div>
    </div>
    <div class="row ">
        <div class="col-12">
            <h2>Communicate to Innovate</h2>
        </div>
    </div>

    <div class="row overall-status-row pb-3">
        <div class="col-sm-12 col-md-6">
            <mat-table [dataSource]="managementDataSource" class="mat-elevation-z0 border">
                <!-- Overall Column -->
                <ng-container matColumnDef="overall">
                  <mat-header-cell *matHeaderCellDef class="border-right justify-content-center p-0"> Overall </mat-header-cell>
                  <mat-cell *matCellDef="let element" class="border-right justify-content-center p-0 bg-danger"> {{element.overall}} </mat-cell>
                </ng-container>

                <!-- Quality Column -->
                <ng-container matColumnDef="quality">
                  <mat-header-cell *matHeaderCellDef class="border-right justify-content-center p-0"> Quality </mat-header-cell>
                  <mat-cell *matCellDef="let element" class="border-right justify-content-center p-0"> {{element.quality}} </mat-cell>
                </ng-container>

                <!-- Time Column -->
                <ng-container matColumnDef="time">
                  <mat-header-cell *matHeaderCellDef class="border-right justify-content-center p-0"> Time </mat-header-cell>
                  <mat-cell *matCellDef="let element" class="border-right justify-content-center p-0"> {{element.time}} </mat-cell>
                </ng-container>

                <!-- Cost Column -->
                <ng-container matColumnDef="cost">
                  <mat-header-cell *matHeaderCellDef class="justify-content-center p-0"> Cost </mat-header-cell>
                  <mat-cell *matCellDef="let element" class="justify-content-center p-0"> {{element.cost}} </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="managementDisplayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: managementDisplayedColumns;"></mat-row>
            </mat-table>
        </div>
        <div class="col-sm-12 col-md-6 ">
            <mat-table [dataSource]="statusDataSource" class="mat-elevation-z0 border">
                <!-- Position Column -->
                <ng-container matColumnDef="prime">
                  <mat-header-cell *matHeaderCellDef class="border-right justify-content-center p-0"> Prime </mat-header-cell>
                  <mat-cell *matCellDef="let element" class="border-right justify-content-center p-0"> {{element.prime}} </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="other">
                  <mat-header-cell *matHeaderCellDef class="border-right justify-content-center p-0"> Other(s) </mat-header-cell>
                  <mat-cell *matCellDef="let element" class="border-right justify-content-center p-0"> {{element.other}} </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="statusDisplayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: statusDisplayedColumns;"></mat-row>
            </mat-table>
        </div>
    </div>

    <div class="row team-row pb-3">
      <div class="col-12">
        <mat-card>
          <div class="row team-card-header">
            <div class="col-8 text-left col-sm-8 col-md-8 ">
              <h2 class="text-capitalize">
                  {{ 'Team' }}
              </h2>
            </div>

            <div class="col-3 text-right p-0 col-sm-2 text-right p-0 col-md-4 text-right p-0">
              <button mat-flat-button class="p-0 mr-3">
                <mat-icon>add</mat-icon>
                <span class="">Add Role</span>
              </button>
            </div>
          </div>

          <div class="row team-card-content">
            <div class="col-12">
                <div class="row team-card-roles text-capitalize">
                  <div class="col-6">
                    <p>Product Owners:
                      <span>Jeff T., Jane H.</span>
                    </p>
                  </div>
                  <div class="col-6">
                    <p>Scrum Master:
                      <span>Lauren L., Dave B.</span>
                    </p>
                  </div>
                  <div class="col-6">
                    <p>SME(s):
                      <span>Jeff T., Jane H.</span>
                    </p>
                  </div>
                  <div class="col-6">
                    <p>coder(s):
                      <span> Adrien W.</span>
                    </p>
                  </div>
                </div>
            </div>
          </div>

        </mat-card>
      </div>
    </div>

    <div class="row project-goal-row pb-3">
      <div class="col-12">
        <mat-card>
          <div class="row">
            <div class="col-12">
              <h2>Goal</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <p>
                Lorem ipsum dolor sit amet,
                consectetur adipisicing elit.
                Lorem ipsum dolor sit amet,
                consectetur adipisicing elit.
              </p>
            </div>
          </div>
        </mat-card>
      </div>
    </div>

    <div class="row project-details-row pb-3">
      <div class="col-12 col-md-6 completed-jobs-col pb-3">
        <mat-card>
          <div class="row completed-jobs-card-header">
            <div class="col-12 text-left ">
              <h2 class="text-capitalize">
                  What Has Been Done
              </h2>
            </div>
          </div>

          <div class="row completed-jobs-card-content">
            <div class="col-12">
                <div class="row completed-card-jobs text-capitalize">
                  <div class="col-12">
                    <p>Goose Bay:
                      <span> - 2 networs...</span>
                    </p>
                  </div>
                  <div class="col-12">
                    <p>NS South:
                      <span> - implemented...</span>
                    </p>
                  </div>
                  <div class="col-12">
                    <p>NS Noth:
                      <span> - Removed ....</span>
                    </p>
                  </div>
                </div>
            </div>
          </div>
        </mat-card>
      </div>

      <div class="col-12 col-md-6 network-milestone-col pb-3">
        <mat-card>
          <div class="row network-milestone-header-row">
            <div class="col-12">
              <h2>Milestones</h2>
            </div>
          </div>
          <div class="row network-milestone-table-row">
            <div class="col-12">
              <ndiku-table-layout
                [table]="networksTable"
                [settings]="networkColsConfig"
              >
              </ndiku-table-layout>
            </div>
          </div>
        </mat-card>
      </div>

      <div class="col-12 col-md-6 next-jobs-col pb-3">
        <mat-card>
          <div class="row next-jobs-card-header">
            <div class="col-12 text-left ">
              <h2 class="text-capitalize">
                  What Is Next
              </h2>
            </div>
          </div>

          <div class="row next-jobs-card-content">
            <div class="col-12">
                <div class="row next-card-jobs text-capitalize">
                  <div class="col-12">
                    <p>NS South Shore:
                      <span> - Replace defected ...</span>
                    </p>
                  </div>
                  <div class="col-12">
                    <p>NL :
                      <span> - Add new ....</span>
                    </p>
                  </div>
                </div>
            </div>
          </div>
        </mat-card>
      </div>

      <div class="col-12 col-md-6 challenges-col pb-3">
        <mat-card>
          <div class="row challenges-header-row">
            <div class="col-12">
              <h2>Challenges/Obstacles</h2>
            </div>
          </div>
          <div class="row challenges-card-jobs text-capitalize">
            <div class="col-12">
              <p>Network recods:
                <span> - lack of updates ...</span>
              </p>
            </div>
            <div class="col-12">
              <p>Goose Bay :
                <span> - Bad weather....</span>
              </p>
            </div>
          </div>
        </mat-card>
      </div>

      <div class="col-12 col-md-6 charts-col">
        <mat-card>
          <div class="row measure-chart-card text-capitalize">
            <div class="col-12">
              <h2>Measure/tracking</h2>
            </div>

            <div class="col-12">
              MEASURE GRAPH GOES HERE
            </div>
          </div>
        </mat-card>
      </div>

    </div>
</div>
