
<div class="container h-100">
    <div class="row tools_row">
        <div class="col-12">
            <button
            mat-flat-button
            color="accent"
            >
                Create Scorecard
            </button>
            <select class="float-right"></select>
        </div>
    </div>
    <!-- <div class="row card_list_row bg-danger"> -->
        <!-- <div class="col-12 bg-dark"> -->
            <app-scorecard-list></app-scorecard-list>
        <!-- </div> -->
    <!-- </div> -->
</div>
