
<div class="container h-100 pt-3 pb-5">
    <div class="row tools_row">
        <div class="col-12">
            <button
            mat-flat-button
            color="accent"
            >
                Create Scorecard
            </button>
            <app-search-bar 
                class="float-right"
                (onSelectedOption)="onSelectedOption($event)">
            </app-search-bar>
        </div>
    </div>
    <app-scorecard-list [scorecards]="scorecards"></app-scorecard-list>
</div>
