
<form class="search-form">
  <mat-form-field class="search-full-width" style="width: 100%;">
    <mat-chip-list #chipUserList>
      <input
        #autocompleteUserInput
        type="text"
        placeholder="Enter login ID"
        aria-label="String"
        matInput
        [matAutocomplete]="auto"
        [matChipInputFor]="chipUserList"
        (input)="searchUsers($event.target.value)"
      />
      <span>
        <app-usersearch-selected  [setSelectedOptions]="onSelectedUserOption" (removeSelectedOption$)="removeOption($event)"></app-usersearch-selected>
      </span>


      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option
          *ngFor="let option of (searchedUsers$ | async) as searchedUsers"
          [value]="option"
          (onSelectionChange)="filterUsersList($event)"
        >
          {{ option.userfullName }}
        </mat-option>
      </mat-autocomplete>
    </mat-chip-list>
  </mat-form-field>
</form>
<!-- <span>
  <app-usersearch-selected></app-usersearch-selected>
</span> -->
