

<form [formGroup]="createNewScorecardForm" id="projectTeamForm">

  <h2>Project Team Details</h2>
  <ndiku-ng-input
    required
    notEmpty
    parentForm="createNewScorecardForm"
    type="text"
    id="projectTeam"
    label="Team"
    placeholder=""
    (onComponentReady)="addChild('projectTeamGroup', $event)"
    (onInputValueChanged)="getInputValue($event)"
  ></ndiku-ng-input>


  <button
    type="button"
    mat-flat-button
    matStepperPrevious
    color="accent"
  >
    Back
  </button>
  &nbsp;
  <button
    type="button"
    mat-flat-button
    matStepperNext
    color="accent"
    [disabled]="createNewScorecardForm.invalid">
    Next
  </button>
</form>
