

<div class="container pt-3 pb-5">
    <div class="row ">
        <div class="col-12">
            <button
            mat-flat-button
            color="accent"
            class="float-right"
            (click)="cardInEditMode? onSaveCard() : onEditCard()"
            >
              {{ cardInEditMode? 'Save': 'Edit' }}
            </button>
        </div>
    </div>
    <div class="row ">
        <div class="col-12">
            <h2>{{ detailedScorecard.title }}</h2>
        </div>
    </div>

    <div class="row overall-status-row pb-3">
        <div class="col-sm-12 col-md-6">
            <!-- EDITABLE CUSTOM OVERALL STATUS TABLE -->
            <ndiku-table-layout
              class="customOverallStatusTable"
              [table]="overallStatusTable"
              [settings]="overallStatusColsConfig"
              [enableEdit]="cardInEditMode"
            >
            </ndiku-table-layout>
        </div>
        <div class="col-sm-12 col-md-6 ">
            <!-- EDITABLE CUSTOM PRIMES TABLE -->
            <ndiku-table-layout
              class="managementPrimesTable"
              [table]="managementTable"
              [settings]="managementColsConfig"
              [enableEdit]="cardInEditMode"
            >
            </ndiku-table-layout>
        </div>
    </div>

    <div class="row team-row pb-3">
      <div class="col-12">
        <mat-card>
          <div class="row team-card-header">
            <div class="col-8 text-left col-sm-8 col-md-8 ">
              <h2 class="text-capitalize">
                  {{ 'Team' }}
              </h2>
            </div>

            <div class="col-3 text-right p-0 col-sm-2 text-right p-0 col-md-4 text-right p-0">
              <button mat-flat-button class="" color="accent" *ngIf="cardInEditMode" (click)="onAddProjectRoles()">
                <mat-icon>add</mat-icon>
                <span>Add/Modify Role</span>
              </button>
            </div>
          </div>

          <div class="row team-card-content">
            <div class="col-12">
                <div class="row team-card-roles text-capitalize">
                  <div class="col-6" *ngFor="let role of detailedScorecard.team; let iIndex = index">
                    <p>
                      <span class="text-left"  *ngIf="editProjectTeamEnabled"> <!-- allow to delete project roles -->
                        <button mat-icon-button color="warn" (click)="onDeleteProjectRoleInDetails(role.title)">
                          <mat-icon>delete</mat-icon>
                        </button>
                      </span>
                      {{ role.title }}:
                      <span *ngFor="let user of role.users; let jIndex = index" class="pr-1">
                        {{ user.userfullName }},
                      </span>
                    </p>
                  </div>
                </div>
                <div class="row team-card-create-roles" *ngIf="editProjectTeamEnabled">
                  <!-- below for creating project roles -->
                  <div class="col-12 col-md-6 mt-2">
                    <template #createRoleItemContainerInDetails ></template>
                  </div>
                </div>
            </div>
          </div>
        </mat-card>
      </div>
    </div>

    <div class="row project-goal-row pb-3">
      <div class="col-12">
        <mat-card>
          <div class="row">
            <div class="col-8 text-left col-sm-8 col-md-8 ">
              <h2>Goal</h2>
            </div>
            <div class="col-3 text-right p-0 col-sm-2 text-right p-0 col-md-4 text-right p-0">
              <button mat-flat-button class="" color="accent" *ngIf="cardInEditMode" (click)="onEditProjectGoal()">
                <mat-icon>edit</mat-icon>
                <span>Edit Project Goal</span>
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <p *ngIf="!editProjectGoalEnabled">
                {{ detailedScorecard.goal }}
              </p>
              <form class="project-goal-form w-100" *ngIf="editProjectGoalEnabled">
                <mat-form-field class="w-100">
                  <mat-label>Edit the goal of this project</mat-label>
                  <textarea matInput cdkTextareaAutosize [(ngModel)]="detailedScorecard.goal" [ngModelOptions]="{standalone: true}"></textarea>
                </mat-form-field>
              </form>
            </div>
          </div>
        </mat-card>
      </div>
    </div>

    <div class="row project-details-row pb-3">
      <div class="col-12 col-md-6 completed-jobs-col pb-3">
        <mat-card>
          <div class="row completed-jobs-card-header">
            <div class="col-12 text-left ">
              <h2 class="text-capitalize">
                  What Has Been Done
              </h2>
            </div>
          </div>

          <div class="row completed-jobs-card-content">
            <div class="col-12">
                <div class="row completed-card-jobs text-capitalize">
                  <mat-selection-list #completedCardTasks class="col-12">
                    <mat-list-option *ngFor="let task of detailedScorecard.doneTask" checkboxPosition="before" >
                      <!-- {{task}} -->
                      <h3 matLine> {{task.description}}</h3>

                        <p matLine class="avatars">
                          <span> {{task.createdTime | date }} </span>
                          <span class="task-status"> -- {{task.taskStatus}} </span>
                          <span class="avatar" *ngFor="let user of task.assignedTo">
                            <img matListAvatar src="https://images.unsplash.com/photo-1506277886164-e25aa3f4ef7f?ixlib=rb-1.2.1&auto=format&fit=crop&w=975&q=80" alt="...">
                          </span>
                        </p>
                    </mat-list-option>
                  </mat-selection-list>
                </div>
            </div>
          </div>
        </mat-card>
      </div>

      <div class="col-12 col-md-6 network-milestone-col pb-3">
        <mat-card>
          <div class="row network-milestone-header-row">
            <div class="col-12">
              <h2>Milestones</h2>
            </div>
          </div>
          <div class="row network-milestone-table-row">
            <div class="col-12">
              <ndiku-table-layout
                [table]="networksTable"
                [settings]="networkColsConfig"
              >
              </ndiku-table-layout>
            </div>
          </div>
        </mat-card>
      </div>

      <div class="col-12 col-md-6 next-jobs-col pb-3">
        <mat-card>
          <div class="row next-jobs-card-header">
            <div class="col-12 text-left ">
              <h2 class="text-capitalize">
                  What Is Next
              </h2>
            </div>
          </div>

          <div class="row next-jobs-card-content">
            <div class="col-12">
                <div class="row next-card-jobs text-capitalize">
                  <mat-selection-list #nextCardTasks class="col-12">
                    <mat-list-option *ngFor="let task of detailedScorecard.nextTask" checkboxPosition="before" >
                      <!-- {{task}} -->
                      <h3 matLine> {{task.description}}</h3>
                        <p matLine class="avatars">
                          <span> {{task.createdTime | date }} </span>
                          <span class="task-status"> -- {{task.taskStatus}} </span>
                          <span class="avatar" *ngFor="let user of task.assignedTo">
                            <img matListAvatar src="https://images.unsplash.com/photo-1506277886164-e25aa3f4ef7f?ixlib=rb-1.2.1&auto=format&fit=crop&w=975&q=80" alt="...">
                          </span>
                        </p>
                    </mat-list-option>
                  </mat-selection-list>
                </div>
            </div>
          </div>
        </mat-card>
      </div>

      <div class="col-12 col-md-6 challenges-col pb-3">
        <mat-card>
          <div class="row challenges-header-row">
            <div class="col-12">
              <h2>Challenges/Obstacles</h2>
            </div>
          </div>
          <div class="row challenges-card-jobs text-capitalize">
            <mat-selection-list #cardChallengesList class="col-12">
              <mat-list-option *ngFor="let challenge of detailedScorecard.challenges" checkboxPosition="after" >
                <h3 matLine> {{challenge}}</h3>
              </mat-list-option>
            </mat-selection-list>
          </div>
        </mat-card>
      </div>

      <div class="col-12 col-md-6 charts-col" *ngIf="detailedScorecard.measures">
        <mat-card>
          <div class="row measure-chart-card text-capitalize">
            <div class="col-12">
              <h2>Measure/tracking</h2>
            </div>

            <div class="col-12">
              MEASURE GRAPH GOES HERE
            </div>
          </div>
        </mat-card>
      </div>

    </div>
</div>
